.task {
    background-color: rgb(226, 226, 242);
    margin: 10px 30px auto;
    border-radius: 20px;
    height: 50px;
    padding: 10px 20px;
    color: rgb(48, 62, 67);
    line-height: 50px;
    position: relative
}

.task span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.trash {
    margin: 0 15px;
    font-size: 20px;
}

.task input {
    background-color: transparent;
    color: rgb(48, 62, 67);
    font-size: 15px;
    font-weight: bolder;
    border: none;
    width: 400px;
    /* min-width: 50%; */
    height: 40px;
    padding-left: 10px;
}

.task input:focus {
    outline: none;
}